.project{
    border-radius: 30px;
background: #222831;
box-shadow:  13px 13px 26px #161a1f, -13px -13px 26px #2e3643;
}
.project-img img{
    /* height: 350px; */
    width: 100%;
    border-radius: 10px;
    
}

.project-description{
    /* height: 400px; */
}
.project-description p{
    text-align: justify;
}
.technologies span{
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 10px;
    background: #2e3746;
    box-shadow:  13px 13px 26px #1a1e25,-13px -13px 26px #2a323d;
    display: inline-block;

}
.technologies span:nth-child(1n){
    color: #F4821F;
}
.technologies span:nth-child(2n){
    color: #0d6efd;
}