@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');


header{
    width: 100%;
    height: 100vh;
    color: #fff;
}
.header_gritting{
    background: rgba(0, 0, 0, 0.800);
    border-radius: 36px;
    background: #22283172;
    box-shadow:  11px 11px 23px #1b1f26, -11px -11px 23px #29313c;
}
.header_gritting h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
}
.header-btn{
    padding: 10px 40px;
}

.header-btn-icon{
    color: #fff;
    transition: all ease .3s; 
}
.header-btn:hover .header-btn-icon{
    color: #222831;
    transform: rotate(90deg);
    transition: all ease .3s; 
}
