@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Merienda&display=swap');

/* Font secondary  */
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

/* Font primary*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&family=Krona+One&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}
body{
  background: #222831 !important;
  color: #fff !important;
}
.preloader{
  height: 100vh !important;
  background: #222831;
}
.preloader img{
  height: 20vh;
}
.color-primary{
  color: #F4821F;
}
.color-secondary{
  color: #0d6efd;
}

/* fonts */
.font-secondary{
  font-family: 'Teko', sans-serif !important;
  letter-spacing: 2px;
}
/* .font-tertiary{

} */
.btn-custom{
  border: 4px solid #F4821F;
  border-radius: none;
  padding: 5px 20px;
  background: rgba(0, 0, 0, 0.10);
    color: #fff;
    font-size: 20px;
    transition: all ease .3s; 
  }
  .btn-custom:hover{
    background-color: #F4821F;
    color: #222831;
    transition: all ease .3s; 
    font-weight: bold;
  }

  .btn-custom-secondary{
    text-decoration: none;
    font-weight: bold;
    color: #F4821F;
    border: 2px solid #F4821F;
    border-radius: 10px;
    margin-bottom: 10px;
    background: #222831;
    box-shadow:  13px 13px 26px #1a1e25,-13px -13px 26px #2a323d;
    transition: all ease .3s
}
.btn-custom-secondary:hover{
    color: #F4821F;
    text-shadow: 0px 0px 10px #F4821F;
    background: rgba(0, 0, 0, 0.300);
    transition: all ease .3s
  }
.btn-preview{
  border: none;
  margin-top: 0;
  background: none;
  color: #F4821F;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease .3s;
}
.btn-preview:hover{
  box-shadow: 0px 0px 10px #F4821F;
  transition: all ease .3s;
}

  /* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(87, 87, 87); 
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #F4821F, rgb(245, 175, 25)); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #ff7700, rgb(197, 135, 0)); 
}
.modal-custom{
  background: #222831 !important;
  box-shadow: 5px 5px 10px #000000;
}