@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Merienda&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Merienda', cursive;
}
body{
  background: #222831 !important;
  color: #fff !important;
}
.color-primary{
  color: #F4821F;
}
.btn-custom{
  border: 4px solid #F4821F;
  border-radius: none;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.10);
    color: #fff;
    font-size: 20px;
    transition: all ease .3s; 
  }
  .btn-custom:hover{
    background-color: #F4821F;
    color: #222831;
    transition: all ease .3s; 
    font-weight: bold;
  }
  